version: '3.4'

services:

  webserver:
    container_name: webserver
    image: encircle/nginx-modsec:latest
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - wordpress
    volumes:
      - ./logs/nginx/:/var/log/nginx
      - ./wordpress/:/var/www/html
    restart: unless-stopped
    networks:
      - frontend
    environment:
      ENV: ${ENV}
      IP_WHITELIST_1: ${IP_WHITELIST_1}
      IP_WHITELIST_2: ${IP_WHITELIST_2}
      FPM_HOST: wordpress:9000
      SITE: ${SITE}
      HTPASS: ${HTPASS}
      MODSEC_ENGINE_MODE: ${MODSEC_ENGINE_MODE}
      DISABLE_CONF: ${DISABLE_CONF}

  database:
    container_name: database
    image: encircle/mariadb:latest
    expose:
      - '3306'
    volumes:
      - ./database/data:/var/lib/mysql
      - ./migrations/:/docker-entrypoint-initdb.d
    networks:
      - backend
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${USER_PASS}

  wordpress:
    container_name: wordpress
    image: encircle/wordpress6:latest
    expose:
      - '9000'
    depends_on:
      - database
    working_dir: /var/www/html
    volumes:
      - ./wordpress:/var/www/html
    networks:
      - frontend
      - backend
    restart: unless-stopped
    environment:
      SITE: ${SITE}
      TITLE: ${TITLE}
      ADMIN_USER: ${ADMIN_USER}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      ADMIN_EMAIL: ${ADMIN_EMAIL}
      WORDPRESS_DB_HOST: database
      WORDPRESS_DB_USER: ${DB_USER}
      WORDPRESS_DB_PASSWORD: ${USER_PASS}
      WORDPRESS_DB_NAME: ${DB_NAME}
      WORDPRESS_TABLE_PREFIX: ${TABLE_PREFIX}

networks:
  frontend:
  backend:
