version: '3.4'

services:

  webserver:
    container_name: webserver
    image: encircle/nginx-modsec:latest
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - drupal
    volumes:
      - ./logs/nginx/:/var/log/nginx
      - ./drupal:/var/www/html
    restart: unless-stopped
    networks:
      - frontend
    environment:
      ENV: ${ENV}
      IP_WHITELIST_1: ${IP_WHITELIST_1}
      IP_WHITELIST_2: ${IP_WHITELIST_2}
      FPM_HOST: drupal:9000
      SITE: ${SITE}
      WEBROOT: /var/www/html/site/web
      HTPASS: ${HTPASS}
      MODSEC_ENGINE_MODE: ${MODSEC_ENGINE_MODE}
      DISABLE_CONF: ${DISABLE_CONF}
      DRUPAL_MODE: 'On'

  database:
    container_name: database
    image: encircle/mariadb:latest
    expose:
      - '3306'
    volumes:
      - ./database/data:/var/lib/mysql
      - ./migrations/:/docker-entrypoint-initdb.d
    networks:
      - backend
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${ROOT_PASS}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${USER_PASS}

  drupal:
    container_name: drupal
    image: encircle/drupal10:latest
    expose:
      - '9000'
    depends_on:
      - database
    volumes:
      - ./drupal:/var/src/drupal
    networks:
      - frontend
      - backend
    restart: unless-stopped
    environment:
      SITE: ${SITE}
      TITLE: ${TITLE}
      DRUPAL_VERSION: ${DRUPAL_VERSION} # optional, defaults to latest
      DB_HOST: database
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${USER_PASS}
      ADMIN_USER: ${ADMIN_USER}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      CIVI: false

networks:
  frontend:
  backend:
