version: '3.3'

services:

  nginx-modsec:
    container_name: nginx-modsec
    image: encircle/nginx-modsec:latest
    build:
      context: ./images/nginx/nginx-modsec
      dockerfile: Dockerfile
      network: host

  mariadb:
    container_name: mariadb
    image: encircle/mariadb:latest
    build:
      context: ./images/mariadb
      dockerfile: Dockerfile
      network: host

  wordpress6:
    container_name: wordpress6
    image: encircle/wordpress6:latest
    build:
      context: ./images/php
      dockerfile: wordpress6/Dockerfile
      network: host

  # drupal7:
  #   container_name: drupal7
  #   image: encircle/drupal7:latest
  #   build:
  #     context: ./images/php
  #     dockerfile: drupal7/Dockerfile
  #     network: host

  # drupal9:
  #   container_name: drupal9
  #   image: encircle/drupal9:latest
  #   build:
  #     context: ./images/php
  #     dockerfile: drupal9/Dockerfile
  #     network: host
      
  drupal10:
    container_name: drupal10
    image: encircle/drupal10:latest
    build:
      context: ./images/php
      dockerfile: drupal10/Dockerfile
      network: host
      
  magento1:
    container_name: magento1
    image: encircle/magento1:latest
    build:
      context: ./images/php
      dockerfile: magento1/Dockerfile
      network: host
   
  # localgovdrupal:
  #   container_name: localgovdrupal
  #   image: encircle/localgovdrupal:latest
  #   build:
  #     context: ./images/php
  #     dockerfile: localgovdrupal/Dockerfile
  #     network: host

  postfix:
    container_name: postfix
    image: encircle/postfix:latest
    build:
      context: ./images/postfix
      dockerfile: Dockerfile
      network: host

  memcache:
    container_name: memcache
    image: encircle/memcache:latest
    build:
      context: ./images/memcache
      dockerfile: Dockerfile
      network: host

  nginx-proxy:
    container_name: nginx-proxy
    image: encircle/nginx-proxy:latest
    build:
      context: ./images/nginx/nginx-proxy
      dockerfile: Dockerfile
      network: host

  nginx-static:
    container_name: nginx-static
    image: encircle/nginx-static:latest
    build:
      context: ./images/nginx/nginx-static
      dockerfile: Dockerfile
      network: host

  # redmine:
  #   container_name: redmine
  #   image: encircle/redmine:latest
  #   build:
  #     context: ./images/redmine
  #     dockerfile: Dockerfile
  #     network: host

  # ssh:
  #   container_name: ssh
  #   image: encircle/ssh:latest
  #   build:
  #     context: ./images/ssh
  #     dockerfile: Dockerfile
  #     network: host
  #     args:
  #       - BOOTSTRAP=alpine:3.12

  # ssh-wordpress:
  #   container_name: ssh-wordpress
  #   image: encircle/ssh-wordpress:latest
  #   build:
  #     context: ./images/ssh
  #     dockerfile: Dockerfile
  #     network: host
  #     args:
  #       - BOOTSTRAP=encircle/wordpress6:latest

  # ssh-drupal:
  #   container_name: ssh-drupal
  #   image: encircle/ssh-drupal:latest
  #   build:
  #     context: ./images/ssh
  #     dockerfile: Dockerfile
  #     network: host
  #     args:
  #       - BOOTSTRAP=encircle/drupal7:latest

  # ssh-drupal9:
  #   container_name: ssh-drupal9
  #   image: encircle/ssh-drupal9:latest
  #   build:
  #     context: ./images/ssh
  #     dockerfile: Dockerfile
  #     network: host
  #     args:
  #       - BOOTSTRAP=encircle/drupal9:latest
