Port 10022
ChallengeResponseAuthentication no
PermitRootLogin without-password
PasswordAuthentication no
X11Forwarding no
PrintMotd no
ClientAliveInterval 3600
ClientAliveCountMax 0
Banner=/etc/issue.net
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/ssh/sftp-server -u 002
UsePAM yes
UseDNS no
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-256,hmac-sha2-512
